---
import Text from "@/components/fundations/elements/Text.astro";

const post = Astro.props.post;
const { compact = false } = Astro.props;
const { url, title, description, pubDate, image } = {
  url: `/${post.data.slug}/`,
  title: post.data.title,
  image: post.data.heroImage,
  description: post.data.description,
  pubDate: new Date(post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};

import readingTime from "reading-time";
const timeToRead = readingTime(post.body ?? "");
---

<article class="relative">
  <a
    href={url}
    aria-label={`Read more about ${title}`}
    class="absolute inset-0 z-30 block"></a>

  {
    image && (
      <div class="relative">
        <img
          src={image}
          width="1000"
          height="1000"
          class={`object-cover w-full ${compact ? "aspect-video" : "aspect-square"}`}
          alt={title}
          loading="lazy"
        />
        {!compact && (
          <div
            aria-hidden="true"
            class="absolute inset-0 z-10 bg-black/60 pointer-events-none"
          />
        )}
      </div>
    )
  }

  <div class={compact ? "mt-3" : "absolute inset-0 z-20 flex flex-col justify-end p-4"}>
    <Text
      tag="p"
      variant="textXS"
      class={compact ? "uppercase text-base-400" : "text-white uppercase"}
    >
      <time datetime={pubDate}>{pubDate}</time>
      <span>·</span>
      <span>{timeToRead.text}</span>
    </Text>
    <Text
      tag="h2"
      variant="textSM"
      class={`mt-2 font-medium uppercase ${compact ? "" : "text-white"}`}
    >
      {title}
    </Text>
    {
      !compact && (
        <Text tag="p" variant="textSM" class="mt-1 text-white">
          {description}
        </Text>
      )
    }
  </div>
</article>
