---
import Text from "@/components/fundations/elements/Text.astro";

const post = Astro.props.post;
const { compact = false } = Astro.props;
const { url, title, description, pubDate, image } = {
  url: `/${post.data.slug}/`,
  title: post.data.title,
  image: post.data.heroImage,
  description: post.data.description,
  pubDate: new Date(post.data.pubDate).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "2-digit",
  }),
};

import readingTime from "reading-time";
const timeToRead = readingTime(post.body ?? "");
---

<article class="relative">
  <a
    href={url}
    title={title}
    aria-label={`Read more about ${title}`}
    class="absolute inset-0 z-10"></a>

  {
    image && (
      <img
        src={image}
        width="800"
        height="800"
        loading="eager"
        decoding="async"
        class={`object-cover w-full ${compact ? "aspect-video" : "aspect-square"}`}
        alt={title}
      />
    )
  }
  <div class={compact ? "mt-2" : "mt-4"}>
    <Text tag="p" variant="textXS" class="uppercase text-base-400">
      <time datetime={pubDate}>{pubDate}</time>
      <span>·</span>
      <span>{timeToRead.text}</span>
    </Text>
    <Text tag="h2" variant="textSM" class="mt-2 font-medium uppercase">
      {title}
    </Text>
    {
      !compact && (
        <Text tag="p" variant="textSM" class="mt-1 text-base-600">
          {description}
        </Text>
      )
    }
  </div>
</article>
